/* applies styles to every element on page, unless over-ridden */
* {
    font-family: 'Bahnschrift', sans-serif;
    text-align: center;
    letter-spacing: 0px;
    font-weight: lighter;
} 

html {
    padding-top: 140px;
    padding-bottom: 140px;
    height: 100%;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    background: none;
    background-color: var(--bg-color);
    top: 150px;
}

:root {

    --font-color: #4f4f4f;
    --bg-color: black;

}

[data-theme="dark"] {

    --font-color: #4f4f4f;
    --bg-color: #f5f5f5;
}

.switch {
    height: 100px;
    position: fixed;
    right: 50px;
    top: 50px;
}
    
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #2b2b2b;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #ccc;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

hr {
    border: 1px solid #E7759B;
}

.skills li {
    list-style-type: none;
}

.contact {
    color: #4f4f4f;
}

.owner {
    top: 0px;
}

.service-form {
    display: flex;
    position: relative;
    left: 40px;
}

textarea {
    border: 1px solid #E7759B;
    margin: 10px;
}

.send-message {
    padding-bottom: 20px;
    width: 100%;
}

#email-textarea {
   margin-left: 55px;
}

textarea#message {
    padding-bottom: 10px;
    margin-left: 20px;
}

label {
    display: inline;
    position: relative;
    top: -25px;
    color: #4f4f4f;
}

input {
   display: block;
   position: relative;
}

.box-2 {
    display: flex;
    justify-content: center;
    width: 96%;
    padding: 20px;
}

.submit-button {
    display: flex;
    position: relative;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #E7759B;
    margin-top: 15px;
    left: -300px;
    top: 60px;
    font-size: .75rem;
}

.radio-button {
    position: relative;
    top: 15px;
    padding-left: 3px;
    padding-right: 12px;
}

#adobe-link, #adobe-link-2, #adobe-link-3 {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #E7759B;
    opacity: .5;
}

#jenny {
    width: 50%;
    padding: 0;
}

h1 {
    position: relative;
    color: #4F4F4F;
    margin-top: 0px;
    top: -30px;
    font-weight: lighter;
}

h2 {
    color: #4F4F4F;
    background-color: none;
    opacity: .75;
}

h3 {
    color: #4F4F4F;
    text-align: center;
    margin-bottom: 5px;
}

h4 {
    text-align: center;
    margin-bottom: 5px;
    font-size: 1rem;
    color: #4F4F4F;
}
    
p {
    padding: 20px;
    color: #4f4f4f;
}

/* styles skip links to be hidden and at the top of page */
.skip-links {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .skip-links a {
    position: absolute;
    top: -5em;
    background-color: black;
    color: white;
    padding: .25em .5em;
    font-weight: bold;
  }

.skip-links a:focus {
    top: 0;
    left: 100px;
    z-index: 3;
}

/* styles navigation */
nav {
    background-color: none;
    color: #4f4f4f;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    top: 100px;
}

/* styles listed skills on home page */
.skills {
    position: relative;
    list-style-type: none;
    display: inline-block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
    width: 100%;
    font-weight: bold;
    top: 250px;
    margin-bottom: 60px;
}

#dot1, #dot2 {
    color: none;
    display: none;
}

/* parameters for 'contact' box */
.box {
    display: flex;
    position: relative;
    width: 96%;
    height: auto;
    margin: 0 auto;
    border: 5px solid #E7759B;
    margin-bottom: 80px;
    margin-left: 10px;
    justify-content: center;
}

#phone, #email{
    display: flex;
    top: 30px;
    font-size: 2rem;
    padding: 10px;
}

#phone-2, #email-2 {
   color: #4f4f4f;
}

#twitter, #instagram, #linked-in, #facebook {
    color: #4f4f4f;
    padding-left: 30px;
    padding-right: 10px;
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 2.5rem;
}

#yoshi, #joker, #hybrid, #scrnsht-1, #scrnsht-2, #scrnsht-3, #scrnsht-4, #scrnsht-5, #scrnsht-6 {
    width: 70%;
    height: auto;
    padding-top: 40px;
}

#p1 {
    text-align: right;
    font-size: 1.2rem;
}

#p2 {
    text-align: left;
    font-size: 1.2rem;
}

/* styles the wrapper around content */
.container {
    max-width: 96%;
    margin: 0 auto;
    margin-top: 40px;
}

/* styles footer info */
.copyright {
    position: relative;
    border-top: 1px solid #E7759B;
    font-size: .5rem;
    margin-top: 120px;
    padding-bottom: 20px;
    padding-top: 20px;
    opacity: .5;
}

li a{
    text-decoration: none;
    color: #4f4f4f;
    position: relative;
    top: -200px;
    left: -35px;
}

li {
    padding: 15px;
}

/* Style the navigation menu */
.topnav {
    overflow: visible;
    background-color: none;
    position: relative;
    z-index: 1;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: #4f4f4f;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: none;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add dark background color on mouse-over */
  .topnav a:hover {
    background-color: none;
    
  }
  
  /* Style the active link */
  .active {
    color: #707070;
  }
  
  a:link{
    text-decoration: none;
    font-size: 1.5rem;
    list-style-type: none;
}

a:visited{
    text-decoration: none;
}

a:hover{
    color: #E7759B;
}

a:active{
    color: #E7759B;
}

a:focus{
    color: #E7759B;
}

.typewrite {
    color: #4f4f4f;
}

.text {
    color: white;
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

.image {
     max-width: 40%;
     position: relative;
     top: 0px;
     z-index: 3;
}

.fade-in-image {
    animation: fadeIn 5s ease-in;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.blobs {
	background: linear-gradient(#E7759B, white);
	height: 2em;
	width: 2em;
	border-radius: .5em;
	position: relative;
}

.blobs::before, .blobs::after {
	content: '';
	position: absolute;
	background: inherit;
	top: -4em;
	right: 0;
	height: 2.4em;
	width: 2.4em;
	border-radius: 50%;
    transform: rotate(45deg);
}

.blobs::after {
	top: -1em;
	right: 0;
	height: 1em;
	width: 1em;
	border-radius: 50%;
}

  /* progressive enhancement (mobile to tablet) */
  @media screen and (min-width: 480px) {
  
      h1 {
          padding-top: 30px;
          margin: 0px;
      }
      
      h2 {
          padding-top: 50px;
          margin: 0;
      }
      
      
      h3 {
          text-align: center;
          margin: 0px;
      }
      
      h4 {
        text-align: center;
        margin-bottom: 5px;
        font-size: 1rem;
      }
  
      p {
          font-size: 1.5rem;
      }
  
      
      
    }
  /* Opens up Mobile Nav */
  .mainnav a{
    display: none;
  }
.mainnav.show a{
    display: block;
}
/* progressive enhancement (tablet to desktop) */
@media screen and (min-width: 960px) {
.mainnav a{
    display: inline-block;
}

h1 {
    position: relative;
    top: -100px;
    color: #4f4f4f;
    font-size: 2rem;
}

h2 {
    position: relative;
    top: -50px;
    color: #4f4f4f;
    font-size: 1.75rem;
}

h3 {
    color: #4f4f4f;
    font-size: 1.5rem;
}

h4 {
    color: #4f4f4f;
    font-size: 1.3rem;
}

#p1, #p2 {
    font-size: 1.5rem;
}

.skills li {
    font-size: 2.5rem;
    display: inline;
    position: relative;
    list-style-type: none;
}

form {
    font-size: 1.5rem;
}

label {
    margin-left: auto;
   margin-right: auto;
}

#dot1, #dot2 {
    color: #4F4F4F;
    top: -200px;
    left: -35px;
}

/* Hides hamburger menu and displays full horizontal navigation */
.blobs {
    display: none;
}

nav#myLinks.mainnav {
    position: relative;
    background: none;
    padding-top: 0;
    top: -10px;
}

.topnav #myLinks a {
    visibility: visible;
    display: inline-flex;
    color: #4F4F4F;
    font-size: 1.5rem;
    padding-left: 55px;
    padding-right: 55px;
    padding-bottom: 40px;
    padding-top: 0px;
  }

  .topnav {
    border-bottom: 1px solid #E7759B;
    top: -190px;
  }
  
/* LoVe HAte (link, vistited, hover, active) -  correct order for link states */
    a:link{
        text-decoration: none;
    }

    a:visited{
        text-decoration: none;
    }

    a:hover{
        color: #E7759B;
    }

    a:active{
        color: #E7759B;
    }

    a:focus{
        color: #E7759B;
    }

    nav {
        display: inline-block;
        top: 0px;
    }

    .skills a {
        font-size: 2rem;
    }

    #typewrite {
        font-size: 2rem;
        color: #4F4F4F;
        position: relative;
        top: -75px;
    }

    .skills {
        position: relative;
        top: 140px;
    }
    
    img.image {
        width: 27%;
        position: relative;
        top: -100px;
    }

    .submit-button {
        display: flex;
        position: relative;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
        border: 1px solid #E7759B;
        margin-top: 15px;
        left: -300px;
        top: 60px;
        font-size: 1rem;
    }
}

