/* applies styles to every element on page, unless over-ridden */
* {
    font-family: 'Bahnschrift', sans-serif;
    text-align: center;
    background-color: #222;
    color: #FFFFFF;
    letter-spacing: 0px;
    font-weight: lighter;
} 

hr {
    background-color: #E7759B;
    border: 1px solid #E7759B;
}

.service-form {
    display: flex;
    position: relative;
    left: 40px;
}

textarea {
    border: 1px solid #E7759B;
    margin: 10px;
}

.send-message {
    padding-bottom: 20px;
    width: 100%;
}

#email-textarea {
   margin-left: 40px;
}

textarea#message {
    padding-bottom: 10px;
    margin-left: 15px;
}

label {
    display: inline;
    position: relative;
    top: -25px;
}

input {
   display: block;
   position: relative;
}

.box-2 {
    display: flex;
    justify-content: center;
    width: 96%;
    padding: 20px;
}

.submit-button {
    display: flex;
    position: relative;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #E7759B;
    margin-top: 15px;
    left: -210px;
    top: 60px;
}

.radio-button {
    position: relative;
    top: 22px;
}

#adobe-link, #adobe-link-2, #adobe-link-3 {
    font-size: 1rem;
    padding-bottom: 20px;
}

#jenny {
    width: 50%;
    padding: 0;
}

h1 {
    padding-top: 30px;
    margin-top: 0px;
    font-weight: lighter;
}

h2 {
    padding-top: 40px;
    background-color: #222;
    opacity: .75;
}

h3 {
    text-align: center;
    margin-bottom: 5px;
}

h4 {
    text-align: center;
    margin-bottom: 5px;
    font-size: .75rem;
}
    
p {
    padding: 20px;
}

/* styles skip links to be hidden and at the top of page */
.skip-links {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .skip-links a {
    position: absolute;
    top: -5em;
    background-color: black;
    color: white;
    padding: .25em .5em;
    font-weight: bold;
  }

.skip-links a:focus {
    top: 0;
    left: 100px;
    z-index: 3;
}

/* styles navigation */
nav {
    background-color: #222;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    top: 100px;
}

#myLinks {
    position: relative;
    
}

/* styles listed skills on home page */
.skills {
    position: relative;
    list-style-type: none;
    display: inline-block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
    width: 100%;
    font-weight: bold;
    top: 250px;
    margin-bottom: 60px;
}

.skills a {
    color: #4F4F4F;
    padding-top: 10px;
}

#dot1, #dot2 {
    color: #222;
}

div.contact {
    background-color: #4F4F4F;
}

/* parameters for 'contact' box */
.box {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: #4F4F4F;
    border: 5px solid #E7759B;
    margin-bottom: 80px;
    margin-left: 10px;
}

#phone, #email{
    background-color: #4F4F4F;
    display: flex;
    top: 30px;
    font-size: 2rem;
    padding: 10px;
}

#phone-2, #email-2 {
   background-color: #4F4F4F;
}

.contact-h3 {
    background-color: #4F4F4F;
}

#twitter, #instagram, #linked-in, #facebook {
    color: white;
    padding-left: 30px;
    padding-right: 10px;
    background-color: #4F4F4F;
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 2.5rem;
}

#yoshi, #joker, #hybrid, #scrnsht-1, #scrnsht-2, #scrnsht-3, #scrnsht-4, #scrnsht-5, #scrnsht-6 {
    width: 50%;
    height: auto;
    padding-top: 80px;
}

.owner {
    background-color:#4F4F4F;
}

#p1 {
    text-align: right;
    font-size: 1rem;
}

#p2 {
    text-align: left;
    font-size: 1rem;
}

/* styles the wrapper around content */
.container {
    max-width: 96%;
    margin: 0 auto;
    color: #222;
    margin-top: 40px;
    color: #222;
}

/* styles footer info */
.copyright {
    position: relative;
    border-top: 1px solid #E7759B;
    font-size: .5rem;
    margin-top: 80px;
    margin-bottom: 40px;
    padding-top: 20px;
}

img.image {
    position: relative;
    top: 180px;
}

li a{
    text-decoration: none;
    color: #707070;
}

/* Style the navigation menu */
.topnav {
    overflow: visible;
    background-color: #222;
    position: relative;
    z-index: 1;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: #222;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add dark background color on mouse-over */
  .topnav a:hover {
    background-color: #222;
    
  }
  
  /* Style the active link */
  .active {
    color: #707070;
  }
  
  a:link{
    text-decoration: none;
    font-size: 1.5rem;
}

a:visited{
    text-decoration: none;
}

a:hover{
    text-decoration: underline #E7759B 1px;
}

a:active{
    text-decoration: underline #707070;
    color: #707070;
}

a:focus{
    text-decoration: underline;
}

.skills a {
    font-size: 1.75rem;
    text-decoration: none;
}


  /* progressive enhancement (mobile to tablet) */
  @media screen and (min-width: 480px) {
  
      h1 {
          padding-top: 30px;
          margin-top: 0px;
      }
      
      h2 {
          padding-top: 10px;
          margin-top: 40px;
          margin-bottom: 0;
      }
      
      
      h3 {
          text-align: center;
          margin-top: 0px;
      }
      
      h4 {
        text-align: center;
        margin-bottom: 5px;
        font-size: 1rem;
      }
  
      p {
          font-size: 1.5rem;
      }
  
      img.image {
          display: inline-block;
          position: relative;
          top: 180px;
      }
    
      .box {
          width: 96%;
          display: flex;
          justify-content: center;
      }
      
    }
  
  .mainnav a{
    display: none;
  }
.mainnav.show a{
    display: block;
}
/* progressive enhancement (tablet to desktop) */
@media screen and (min-width: 960px) {
.mainnav a{
    display: inline-block;
}

img.image {
    position: relative;
    top: 140px;
    z-index: 3;
    width: 30%;
}


#p1, #p2 {
    font-size: 1.5rem;
}

.skills li {
    font-size: 2.5rem;
    display: inline;
    position: relative;
}

#dot1, #dot2 {
    color: #4F4F4F;
}

/* Hides hamburger menu and displays full horizontal navigation */
.blobs {
    display: none;
}

.topnav #myLinks a {
    visibility: visible;
    display: inline-flex;
    color: white;
    font-size: 1.5rem;
    padding-left: 55px;
    padding-right: 55px;
    padding-bottom: 40px;
    padding-top: 10px;
  }

  .topnav {
    border-bottom: 1px solid #E7759B;
  }

  .topnav a:hover {
    text-decoration: underline 1px #E7759B;
  }
  
/* LoVe HAte (link, vistited, hover, active) -  correct order for link states */
    a:link{
        text-decoration: none;
    }

    a:visited{
        text-decoration: none;
    }

    a:hover{
        text-decoration: none;
    }

    a:active{
        text-decoration: underline #707070;
        color: #707070;
    }

    a:focus{
        text-decoration: underline;
    }

    nav {
        display: inline-block;
        top: 0px;
    }

    .skills a {
        font-size: 2rem;
    }

    #typewrite {
        font-size: 2rem;
    }

    .skills {
        position: relative;
        top: 200px;
    }
    
}
  
.overlay {
    position: absolute;
    top: 15%;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0%;
    width: 100%;
    opacity: .3;
    transition: .5s ease;
    z-index: 2;
  }
  
.container:link .overlay {
    text-decoration: none;
}

.container:visited .overlay {
    text-decoration: none;
}

.container:hover .overlay {
    text-decoration: none;
  }

.container:active .overlay {
    text-decoration: underline #707070;
    color: #707070;
}

.container:focus .overlay{
    text-decoration: underline;
}

.text {
    color: white;
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

.image {
     max-width: 50%;
     display: inline;
     z-index: 3;
    }


.fade-in-image {
    animation: fadeIn 7s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.typewrite {
    position: relative;
    z-index: 1;
}

ul#main.skills {
    padding: 0;
    padding-top: 40px;
}

#typewrite {
    text-decoration: none;
    position: relative;
}

.blobs {
	background: linear-gradient(#E7759B, white);
	height: 2em;
	width: 2em;
	border-radius: .5em;
	position: relative;
}

.blobs::before, .blobs::after {
	content: '';
	position: absolute;
	background: inherit;
	top: -.5em;
	right: 0;
	height: 2.4em;
	width: 2.4em;
	border-radius: 50%;
    transform: rotate(45deg);
}

.blobs::after {
	top: 2.5em;
	right: 0;
	height: 1em;
	width: 1em;
	border-radius: 50%;
}
