/* applies styles to every element on page, unless over-ridden */
* {
    font-family: 'Bahnschrift', sans-serif;
    text-align: center;
    letter-spacing: 0px;
    font-weight: lighter;
} 


html {
    padding-top: 150px;
    height: 100%;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    background: none;
    background-color: var(--bg-color);
    top: 150px;
}

:root {

    --grey: #4f4f4f;
    --white: #f5f5f5;
    --red: #E7759B;
    --borderFormEls: (0, 0%, 10%);
    --bgFormEls: (0, 0%, 14%);
    --bgFormElsFocus: (0, 7%, 20%);

    --font-color: #4f4f4f;
    --bg-color: #f5f5f5;

}

#heart {
    color: #E7759B;
    position: relative;
    font-size: 1rem;
    left: 5px;
}

#conditions{
    top: 0;
    left: 0;
    font-size: 18px;
}

input,
select,
textarea,
button {
  font-family: inherit;
  font-size: 100%;
}

button,
label {
  cursor: pointer;
}

select {
  appearance: none;
  position: relative;
}

/* Remove native arrow on IE */
select::-ms-expand {
  display: none;
}

/*Remove dotted outline from selected option on Firefox*/
/*https://stackoverflow.com/questions/3773430/remove-outline-from-select-box-in-ff/18853002#18853002*/
/*We use !important to override the color set for the select on line 99*/
select:-moz-focusring {
  color: transparent !important;
  text-shadow: 0 0 0 var(--white);
}

textarea {
  resize: none;
}

ul {
  list-style: none;
}

body {
  font: 18px/1.5 "Open Sans", sans-serif;
  color: var(--grey);
  margin: 1.5rem 0;
}

.container3 {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

div.container3 ul {
    padding-left: 0;
}

div.container3 li {
    padding-left: 0;
}


.container3 h2 {
    padding: 0;
}

/* FORM ELEMENTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.my-form h1 {
  margin-bottom: 1.5rem;
}

.my-form li,
.my-form .grid > *:not(:last-child) {
  margin-bottom: 1.5rem;
}

.my-form select,
.my-form input,
.my-form textarea,
.my-form button {
  width: 100%;
  line-height: 1.5;
  padding: 15px 0px;
  border: 2px solid #E7759B;
  color: var(--grey);
  background: var(--bgFormEls);
  transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
    transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

.my-form textarea {
  height: 170px;
}

.my-form ::placeholder {
  color: inherit;
  /*Fix opacity issue on Firefox*/
  opacity: 1;
}

.my-form select:focus,
.my-form input:focus,
.my-form textarea:focus,
.my-form button:enabled:hover,
.my-form button:focus,
.my-form input[type="checkbox"]:focus + label {
  background: var(--bgFormElsFocus);
}

.my-form select:focus,
.my-form input:focus,
.my-form textarea:focus {
  transform: scale(1.02);
}

.my-form *:required,
.my-form select {
  background-repeat: no-repeat;
  background-position: center right 12px;
  background-size: 15px 15px;
}

.my-form *:required {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/asterisk.svg);  
}

.my-form select {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/down.svg);
}

.my-form *:disabled {
  cursor: default;
  filter: blur(2px);
}


/* FORM BTNS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.my-form .required-msg {
  display: none;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/asterisk.svg)
    no-repeat center left / 15px 15px;
  padding-left: 20px;
}

.my-form .btn-grid {
  position: relative;
  overflow: hidden;
  transition: filter 0.2s;
}

.my-form button {
  font-weight: bold;
}

.my-form button > * {
  display: inline-block;
  width: 100%;
  transition: transform 0.4s ease-in-out;
}

.my-form button .back {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-110%, -50%);
}

.my-form button:enabled:hover .back,
.my-form button:focus .back {
  transform: translate(-50%, -50%);
}

.my-form button:enabled:hover .front,
.my-form button:focus .front {
  transform: translateX(110%);
}


/* CUSTOM CHECKBOX
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.my-form input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

.my-form input[type="checkbox"] + label {
  position: relative;
  display: inline-block;
  padding-left: 2rem;
  transition: 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

.my-form input[type="checkbox"] + label::before,
.my-form input[type="checkbox"] + label::after {
  content: '';
  position: absolute;
}

.my-form input[type="checkbox"] + label::before {
  left: 0;
  top: 0px;
  width: 18px;
  height: 18px;
  border: 2px solid var(--red);
}


.my-form input[type="checkbox"]:checked + label::after {
  left: 7px;
  top: 0px;
  width: 6px;
  height: 14px;
  border-bottom: 2px solid var(--grey);
  border-right: 2px solid var(--grey);
  transform: rotate(45deg);
}


/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
footer {
  font-size: 1rem;
  text-align: right;
  backface-visibility: hidden;
}

footer a {
  text-decoration: none;
}

footer span {
  color: var(--red);
}





[data-theme="dark"] {

    --font-color: #4f4f4f;
    --bg-color: black;
}

.info p {
    position: relative;
    
    top: 150px;
    left: 40px;
    padding: 5px;
    margin-top: 0px;
}

.photo {
    width: 70%;
    padding-top: 60px;
}

.toggle-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .toggle-slot {
    position: relative;
    height: 3em;
    width: 6em;
    border: 2.5px solid #e4e7ec;
    border-radius: 5em;
    background-color: none;
    box-shadow: 0px 2.5px 6.25px #e4e7ec;
    transition: background-color 250ms;
  }
  
  .toggle-checkbox:checked ~ .toggle-slot {
    background-color: #374151;
  }
  
  .toggle-button {
    position: relative;
    top: -10px;
    right: 60px;
    transform: translate(3em, .875em);
    position: absolute;
    height: 2.25em;
    width: 2.25em;
    border-radius: 50%;
    background-color: #ffeccf;
    box-shadow: inset 0px 0px 0px 0.275em #ffbb52;
    transition: background-color 250ms, border-color 250ms, transform 500ms cubic-bezier(.26,2,.46,.71);
  }
  
  .toggle-checkbox:checked ~ .toggle-slot .toggle-button {
    background-color: #485367;
    box-shadow: inset 0px 0px 0px 0.275em white;
    transform: translate(.25em, .875em);
  }
  
  .sun-icon {
    position: absolute;
    height: 2.5em;
    width: 2.5em;
    color: #ffbb52;
    left: -17px;
    top: -10px;
    
  }
  
  .sun-icon-wrapper {
    position: absolute;
    height: 3em;
    width: 3em;
    opacity: 1;
    transform: translate(1em, 1em) rotate(15deg);
    transform-origin: 50% 50%;
    transition: opacity 150ms, transform 500ms cubic-bezier(.26,2,.46,.71);
  }
  
  .toggle-checkbox:checked ~ .toggle-slot .sun-icon-wrapper {
    opacity: 0;
    transform: translate(.5em, 1em) rotate(0deg);
  }
  
  .moon-icon {
    position: absolute;
    height: 2.5em;
    width: 2.5em;
    color: white;
    left: 20px;
    top: -3px;
  }
  
  .moon-icon-wrapper {
    position: absolute;
    height: 3em;
    width: 3em;
    opacity: 0;
    transform: translate(5.5em, 1em) rotate(0deg);
    transform-origin: 50% 50%;
    transition: opacity 150ms, transform 500ms cubic-bezier(.26,2.5,.46,.71);
  }
  
  .toggle-checkbox:checked ~ .toggle-slot .moon-icon-wrapper {
    opacity: 1;
    transform: translate(2em, .5em) rotate(-15deg);
  }

  .mytoggle {
    position: relative;
    top: 32px;
    right: -15px;
  }


.holder {
    position:relative;
    overflow:hidden;
    justify-content: center;
    max-width: 96%;
  }

  .info {
    position:relative;
    width:70%;
    height:100%;
    background:none;
    top: -140px;
    opacity:0;
    transition:left 0.3s, opacity 0.3s;
    margin: 0 auto;
    padding-top: 40px;
  }

  .holder:hover .info {
    left:0;
    opacity:1;
  }

 .info p {
    
    font-size: 1rem;
   
    left: 0px;
    padding: 5px;
}

div.video {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
}

.videoimg {
    margin-top: 40px;
    max-width: 70%;
    box-shadow: 0px 2.5px 6.25px #4f4f4f;
 
}

.shapes {
    top: 50px;
    position: relative;
    display: flex;
    justify-content: center;
}

#ringing-phone {
    filter: hue-rotate(110deg) saturate(120%) brightness(140%);
    position: relative;
    padding-top: 60px;
}

div.phone {
    position: relative;
    display: flex;
    justify-content: center;
    left: 60px;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 15px; /* Place the button 5px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color:rgba(231,117,155,.5);; /* Set a background color */
    color: #4f4f4f; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding-top: 10px;
    border-radius: 50px; /* Rounded */
    font-size: 2.5rem; /* Increase font size */
    z-index: 6;
    width: 50px;
    height: 50px;
  }
  
  #myBtn:hover {
    background-color: #707070; /* Add a grey background on hover */
  }

  div.cat{
    display: none;
  }

hr {
    border: 1px solid #E7759B;
}

.skills li {
    list-style-type: none;
}

.contact {
    color: #4f4f4f;
}

.owner {
    top: 0px;
}

.box-2 {
    display: flex;
    justify-content: center;
    width: 96%;
    padding: 20px;
}

#adobe-link, #adobe-link-2, #adobe-link-3, #adobe-link-4 {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #E7759B;
    position: relative;
   
}

#xdlink1, #xdlink2, #xdlink3 {
    position: relative;
    top: 130px;
    color: #4f4f4f;
    z-index: 12;
    font-size: 1rem;
  }

  a#xdlink1:hover, a#xdlink2:hover, a#xdlink3:hover {
    color: #E7759B;
  }

.xdimage {
    width: 80%;
    position: relative;
}

a {
    color: #4f4f4f;
}

#jenny {
    width: 60%;
    padding: 0;
    border-radius: 50%;
}

.mainh1 {
    position: relative;
    top: 50px;
}

h1 {
    position: relative;
    color: #4F4F4F;
    margin-top: 0px;
    top: -30px;
    font-weight: lighter;
}

h2 {
    color: #4F4F4F;
    background-color: none;
    opacity: .75;
    font-size: 1.75rem;
    
}

h3 {
    color: #4F4F4F;
    text-align: center;
}

a h3 {
    font-size: 1.25rem;
}

h4 {
    text-align: center;
    margin-bottom: 5px;
    font-size: 1rem;
    color: #4F4F4F;
}

h5 {
    font-size: 1rem;
    position: relative;
    top: -20px;
}

p {
    color: #4f4f4f;
}

/* styles skip links to be hidden and at the top of page */
.skip-links {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .skip-links a {
    position: absolute;
    top: -7em;
    background-color: black;
    color: white;
    padding: .25em .5em;
    font-weight: bold;
  }

.skip-links a:focus {
    top: 0;
    left: 100px;
    z-index: 3;
}

/* styles navigation */
nav {
    background-color: none;
    color: #4f4f4f;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    top: 100px;
}

/* styles listed skills on home page */
.skills {
    position: relative;
    list-style-type: none;
    display: inline-block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
    width: 100%;
    font-weight: bold;
    top: 250px;
    margin-bottom: 60px;
}

#dot1, #dot2, #dot3, #dot4 {
    color: none;
    display: none;
}

.box-wrapper {
    width: 96%;
}

/* parameters for 'contact' box */
.box {
    display: flex;
    position: relative;
    width: 96%;
    height: auto;
    margin: 0 auto;
    border: 3px solid #E7759B;
    margin-bottom: 80px;
    justify-content: center;
}

#phone, #email{
    display: flex;
    position: relative;
    top: 42px;
    font-size: 2rem;
    padding: 10px;
}

#phone-2, #email-2 {
   position: relative;
   left: 75px;
   color: #4f4f4f;
   text-align: left;
}

#twitter, #instagram, #linked-in, #facebook {
    color: #4f4f4f;
    padding-left: 30px;
    padding-right: 10px;
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 2.5rem;
}

#yoshi, #joker, #hybrid, #scrnsht-1, #scrnsht-2, #scrnsht-3, #scrnsht-4, #scrnsht-5, #scrnsht-6 {
    width: 70%;
    height: auto;
    padding-top: 40px;
}

#p1 {
    text-align: right;
    font-size: 1.2rem;
    padding: 40px;
}

#p2 {
    text-align: left;
    font-size: 1.2rem;
    padding: 20px;
}

/* styles the wrapper around content */
.container {
    position: relative;
    max-width: 96%;
    margin: 0 auto;
    top: -70px;
}


/* styles footer info */
.copyright {
    position: relative;
    border-top: 1.5px solid rgba(231,117,155,.5);
    font-size: .5rem;
    margin-top: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}

li a{
    text-decoration: none;
    color: #4f4f4f;
    position: relative;
    top: -200px;
    left: -35px;
}

li {
    padding: 15px;
}

/* Style the navigation menu */
.topnav {
    overflow: visible;
    background-color: none;
    position: relative;
    z-index: 1;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: #4f4f4f;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: none;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add dark background color on mouse-over */
  .topnav a:hover {
    background-color: none;
    
  }
  
  /* Style the active link */
  .active {
    color: #707070;
  }
  
  a:link{
    text-decoration: none;
    font-size: 1.5rem;
    list-style-type: none;
}

a:visited{
    text-decoration: none;
}

a:hover{
    color: #E7759B;
}

a:active{
    color: #E7759B;
}

a:focus{
    color: #E7759B;
}

.typewrite {
    color: #4f4f4f;
}

.text {
    color: white;
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

.image {
     max-width: 40%;
     position: relative;
     top: 0px;
     z-index: 3;
}

.image:hover {
/* Start the vibrate animation with duration 0.5 seconds */
   animation: vibrate 0.5s .25s; 
/* When the animation is finished, start again */
   animation-iteration-count: infinite;
}


.desk {
    position: relative;
    top: -35px;
    display: flex;
    justify-content: center;
    
}

svg {
    width: 650px;
    height: 650px;
  }
  
  /* SMOKE */
  #smoke-1 {
    stroke-dasharray: 0, 10;
    animation: smoke 6s ease infinite;
  }
  
  #smoke-2 {
    stroke-dasharray: 0, 10;
    animation: smoke 6s 0.5s ease infinite;
  }
  
  @keyframes smoke {
    0% { stroke-dasharray: 0, 10; }
    50% { stroke-dasharray: 10, 0; }
    100% { stroke-dasharray: 10, 0; opacity: 0; }
  }
  
  /* WRITING */
  #line-1 {
    opacity: 0;
    animation: writing 0.5s linear forwards;
  }
  
  #line-2 {
    opacity: 0;
    animation: writing 0.5s 1s linear forwards;
  }
  
  #line-3 {
    opacity: 0;
    animation: writing 0.5s 1.5s linear forwards;
  }
  
  #line-4 {
    opacity: 0;
    animation: writing 0.5s 2s linear forwards;
  }
  
  @keyframes writing {
    0% { width: 0px; opacity: 1;}
    100% { width: 14px; opacity: 1;}
  }

@keyframes vibrate {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(-1deg); }
    20% { transform: rotate(1deg); }
    30% { transform: rotate(0deg); }
    40% { transform: rotate(1deg); }
    50% { transform: rotate(-1deg); }
    60% { transform: rotate(0deg); }
    70% { transform: rotate(-1deg); }
    80% { transform: rotate(1deg); }
    90% { transform: rotate(0deg); }
    100% { transform: rotate(-1deg); }
  }

.fade-in-image {
    animation: fadeIn 5s ease-in; 
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.blobs {
	background: linear-gradient(#E7759B, white);
	height: 2em;
	width: 2em;
	border-radius: .5em;
	position: relative;
}

.blobs::before, .blobs::after {
	content: '';
	position: absolute;
	background: inherit;
	top: -4em;
	right: -20px;
	height: 2.4em;
	width: 2.4em;
	border-radius: 50%;
    transform: rotate(45deg);
}

.blobs::after {
	top: -1em;
	right: -20;
	height: 1em;
	width: 1em;
	border-radius: 50%;
}

  /* progressive enhancement (mobile to tablet) */
  @media screen and (min-width: 480px) {
  
      h1 {
          padding-top: 30px;
          margin: 0px;
      }
      
      h2 {
          padding-top: 50px;
          margin: 0;
      }
      
      
      h3 {
          text-align: center;
          margin: 0px;
      }
      
      h4 {
        text-align: center;
        margin-bottom: 5px;
        font-size: 1rem;
      }
  
      p {
          font-size: 1.5rem;
      }
  
      div.cat {
        display: none;
    }
    
    


    }
  /* Opens up Mobile Nav */
  .mainnav a{
    display: none;
  }
.mainnav.show a{
    display: block;
}

.switch {
    display: none;
  }
.switch.show {
    display: block;
}

/* progressive enhancement (tablet to desktop) */
@media screen and (min-width: 960px) {
.mainnav a{
    display: inline-block;
}

h1 {
    position: relative;
    top: -100px;
    color: #4f4f4f;
    font-size: 2.5rem;
}

h2 {
    position: relative;
    top: 0px;
    color: #4f4f4f;
    font-size: 2rem;
}

h3 {
    color: #4f4f4f;
    font-size: 1.5rem;
    padding: 0;
    top: 2px;
    position: relative;
    
}

.ux-h3 {
    margin-left: 80px;
}

a#adobe-link, a#adobe-link-2, a#adobe-link-3 {
    margin-left: 80px;

}

a h3 {
    font-size: 1.5rem;
}

a h3:hover {
    color: #E7759B;;
}

h4 {
    color: #4f4f4f;
    font-size: 1.3rem;
}

h5 {
    color: #4f4f4f;
    position: relative;
    top: -20px;
    margin-left: 80px;
}

h5:hover {
    color: #E7759B;
}

a.xdlink {
    font-size: 1.1rem;
    position: relative;
    top: 140px;
}

#p1, #p2 {
    font-size: 1.5rem;
}

.skills li {
    font-size: 2.5rem;
    display: inline;
    position: relative;
    list-style-type: none;
}

/* Hides hamburger menu and displays full horizontal navigation */
.blobs {
    display: none;
}

nav#myLinks.mainnav {
    position: relative;
    background: none;
    padding-top: 0;
    top: -10px;
    z-index: 10;
}

.topnav #myLinks a {
    visibility: visible;
    display: inline-flex;
    color: #4F4F4F;
    font-size: 1.5rem;
    padding-left: 55px;
    padding-right: 55px;
    padding-bottom: 40px;
    padding-top: 0px;
  }

  .topnav #myLinks a:hover {
    color: #E7759B;
  }


  .topnav {
    border-bottom: 1.5px solid rgba(231,117,155,.5);
    top: -130px;
  }
  
/* LoVe HAte (link, vistited, hover, active) -  correct order for link states */
    a:link{
        text-decoration: none;
    }

    a:visited{
        text-decoration: none;
    }

    a:hover{
        color: #E7759B;
    }

    a:active{
        color: #E7759B;
    }

    a:focus{
        color: #E7759B;
    }

    nav {
        display: inline-block;
        top: 0px;
    }

    .skills a {
        font-size: 2rem;
    }

    #typewrite {
        font-size: 2.25rem;
        color: #4F4F4F;
        position: relative;
        top: -20px;
    }

    .skills {
        position: relative;
        top: 200px;
    }
    
    img.image {
        width: 27%;
        position: relative;
        top: -50px;
    }

    .zoom {
        background-color: none;
        transition: transform .2s; /* Animation */
        width: 200px;
        height: 200px;
        margin: 0 auto;
      }
      
      .zoom:hover {
        margin: 230px;
        transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
      }

    

 #yoshi {
    width: 33%;
 }

 #joker {
    width: 65%;
 }

 #hybrid {
    width: 70%;
 }

 /* adds cat animatioin to bottom of navigation */
 div.cat {
    position: relative;
    display: flex;
    justify-content: center; 
    height: 0px;
}

#cat {
    filter: hue-rotate(160deg);
    position: relative;
    top: -299px;
    left: -400px;
}


div.shapes {
    position: relative;
    display: flex;
    justify-content: center;
    top: 0px;
}

.aboutinfo {
    position: relative;
    top: -100px;
}

.switch {
    display: block;
    position: absolute;
    height: 100px;
    right: -45px;
    top: 0px;
}

div.video {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}

div.holder {
    position: relative;
    top: 60px;
}

.holder {
    position:relative;
    overflow:hidden;
    justify-content: center;
    max-width: 96%;
    top: 0px;
  }

  .info {
    position:relative;
    width:50%;
    height:100%;
    background:none;
    top: -140px;
    opacity:0;
    transition:left 0.3s, opacity 0.3s;
    margin: 0 auto;
  }

  .holder:hover .info {
    left:0;
    opacity:1;
  }

 .info p {
    position: relative;
    font-size: 1.35rem;
    top: 150px;
    left: 40px;
    padding: 5px;
    margin-top: 0px;
}

.uxdesign {
    position: relative;
    top: -100px;
}

img#scrnsht-6, img#scrnsht-3, img#scrnsht-5 {
    width: calc(70% + 40px);
    position: relative;
    margin-left: 60px;
}

#ux {
    position: relative;
    padding-bottom: 20px;
    top: 100px;
    margin-left: 20px;
}


#jenny {
    width: 30%;
}

.container2 {
    position: relative;
    max-width: 96%;
    margin: 0 auto;
    top: -170px;
}


.toggle-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
div.toggle-slot {
    position: relative;
    top: -25px;
}

  .toggle-slot {
    position: relative;
    height: 2.01em;
    width: 4.02em;
    border: 2.5px solid #e4e7ec;
    border-radius: 5em;
    background-color: none;
    box-shadow: 0px 2.5px 6.25px #e4e7ec;
    transition: background-color 250ms;
  }
  
  .toggle-checkbox:checked ~ .toggle-slot {
    background-color: black;
  }
  
  .toggle-button {
    position: relative;
    top: -15px;
    right: 80px;
    transform: translate(3em, .875em);
    position: absolute;
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
    background-color: #ffeccf;
    box-shadow: inset 0px 0px 0px 0.175em #ffbb52;
    transition: background-color 250ms, border-color 250ms, transform 500ms cubic-bezier(.26,2,.46,.71);
  }
  
  .toggle-checkbox:checked ~ .toggle-slot .toggle-button {
    background-color: #485367;
    box-shadow: inset 0px 0px 0px 0.175em white;
    transform: translate(.25em, .875em);
    left: 3px;
  }
  
  .sun-icon {
    position: absolute;
    height: 1.675em;
    width: 1.675em;
    color: #ffbb52;
    left: -27px;
    top: -10px;
    
  }
  
  .sun-icon-wrapper {
    position: absolute;
    height: 3em;
    width: 3em;
    opacity: 1;
    transform: translate(1em, 1em) rotate(15deg);
    transform-origin: 50% 50%;
    transition: opacity 150ms, transform 500ms cubic-bezier(.26,2,.46,.71);
  }
  
  .toggle-checkbox:checked ~ .toggle-slot .sun-icon-wrapper {
    opacity: 0;
    transform: translate(.5em, 1em) rotate(0deg);
  }
  
  .moon-icon {
    position: absolute;
    height: 1.675em;
    width: 1.675em;
    color: white;
    left: 10px;
    top: -10px;
  }
  
  .moon-icon-wrapper {
    position: absolute;
    height: 3em;
    width: 3em;
    opacity: 0;
    transform: translate(5.5em, 1em) rotate(0deg);
    transform-origin: 50% 50%;
    transition: opacity 150ms, transform 500ms cubic-bezier(.26,2.5,.46,.71);
  }
  
  .toggle-checkbox:checked ~ .toggle-slot .moon-icon-wrapper {
    opacity: 1;
    transform: translate(2em, .5em) rotate(-15deg);
  }

  .mytoggle {
    position: relative;
    top: 10px;
    z-index: 12;
  }
 
 a#xdlink1, a#xdlink2, a#xdlink3 {
    position: relative;
    color: #4f4f4f;
    z-index: 12;
    margin-left: 80px;
  }

  .my-form .grid {
    display: grid;
    grid-gap: 1.5rem;
  }

  .my-form .grid-2 {
    grid-template-columns: 1fr 1fr;
  }

  .my-form .grid-3 {
    grid-template-columns: auto auto auto;
    align-items: center;
  }

  .my-form .grid > *:not(:last-child) {
    margin-bottom: 0;
  }

  .my-form .required-msg {
    display: block;
  }

    #dot1, #dot2, #dot3, #dot4 {
        display: inline;
        color: #4F4F4F;
        top: -200px;
        left: -35px;
    }

div.box {
    position: relative;
    width: calc(96% + 20px )
}

}